#divOverlay{
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.37);
    align-items: center;
    justify-content: initial ;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;

}

#overlay img{
    width: 80%;
    height: auto;
    margin-bottom: 0.5rem;

}

.txtOverlay{
    font-family: "Great Vibes", sans-serif;
    font-size: 3rem;
    color: #000000;
    margin-bottom: 1.2rem;
}

.btnLink {
    font-size: 1rem;
    font-family: 'DMSerif', sans-serif;
    padding: 0.8rem;
    color: #000000;
    border-radius: 0.2rem;
    margin: 2.2rem;
    border: 2px solid #dab984; /* Ajoute une bordure blanche de 2 pixels */
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, transform 0.5s ease;
}

.btnLink:hover {
    background-color: #000000;
    color: #dab984;
    border: 2px solid #dab984; /* Ajoute une bordure noire de 2 pixels */
    transform: scale(1.05); /* Légère mise à l'échelle pour un effet de grossissement */
}

#decompte{

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20%;
    margin-bottom: 3rem;
}
.elementDecompte{
    margin-right: 1rem;
    border: 3px solid #dab984;
    border-radius: 10px;
    width: 70px; /* Largeur fixe pour une taille uniforme */
    height: 70px; /* Hauteur fixe pour une taille uniforme */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.elementDecompte2{
    border: 3px solid #dab984;
    border-radius: 10px;
    width: 70px; /* Largeur fixe pour une taille uniforme */
    height: 70px; /* Hauteur fixe pour une taille uniforme */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.texteDecompte{
    font-family: DMSerif, sans-serif;
    font-size: 1rem;
    color: #000000;
}
.chiffreDecompte{
    color: #000000;
    font-family: DMSerif,sans-serif;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar {
    background-color: #232323;
    overflow: hidden;
    height: 70px; /* Définit une hauteur fixe pour la navbar */
    display: flex;
    align-items: center; /* Centre verticalement les éléments de la navbar */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.56); /* Ajoute une ombre en bas */
    padding: 0.5rem;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar img {
    height: 140%;
    width: auto;
}
.element{
    box-shadow: 0 2px 6px rgb(218, 185, 132); /* Ajoute une ombre en bas */

    background-color: rgba(255, 255, 255, 0.49);
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 3rem 1rem;
    text-align: center;
}

/* Animation keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Base animation class */
.fade-in {
    opacity: 0; /* Elements are initially invisible */
    transition: opacity 0s ease-in; /* Optional: smooth transition for visibility change */
}

/* Existing text classes */
.txtItalic {
    font-family: pinyon, sans-serif;
    font-size: 2.7rem;
    color: #dab984;
    margin-bottom: 1.5rem;
}

.txtDroit {
    font-weight: bolder;
    font-family: cormorand, sans-serif;
    font-style: italic;
    font-size: 6.5vw;
    color: #000000;
    margin-bottom: 0.6rem;
}

.txtDroitGras {
    font-family: DMSerif, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #000000;
}

.titre {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Great Vibes", sans-serif;
    font-size: 16vw;
    color: #dab984;
    margin-bottom: 2rem;
}

/* Fade-in class when elements are in view */
.fade-in-visible {
    animation: fadeIn 2s ease-in forwards; /* Animation applied when element is in view */
}

.oukchartam{
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 80%;



}

form label {
    font-family: DMSerif, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #000000;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

form input[type="text"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #dab984;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;


}

form input[type="checkbox"] {
    margin-right: 0.5rem;
}

form input[type="submit"] {
    font-size: 1rem;
    font-family: DMSerif, sans-serif;
    padding: 0.8rem ;
    color: #000000;
    border-radius: 0.2rem;
    margin: 2.2rem;
    border: 2px solid #dab984; /* Ajoute une bordure blanche de 2 pixels */
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);


}

form input[type="submit"]:hover {
    background-color: #000000;
    font-size: 1rem;
    font-family: DMSerif, sans-serif;
    padding: 0.8rem ;
    color: #dab984;
    border-radius: 0.2rem;
    margin: 2.2rem;
    border: 3px solid #dab984; /* Ajoute une bordure blanche de 2 pixels */
    transition: background-position 1s ease-in-out, color 0.3s, border-color 0.3s; /* Transition douce pour les changements de couleur et l'animation */
    background-position: left bottom;


}

form textarea {
    resize: vertical;
}
.hidden{
    display: none;
}